"""Prints the test data in the correct input format."""

from kg.formatters import * ### @import

@formatter
def format_case(stream, cases, *, print, **kwargs):
    ... # write your formatter here
    {% if not minimal %}

    # example:
    print(len(cases))
    for arr in cases:
        print(len(arr))
        print(*arr)
    {% endif %}
