"""Prints the test data in the correct input format."""

from kg.formatters import * ### @import

@formatter
{% if multi_file %}
def format_case(stream: InteractiveStream, cases, *, print):
{% else %}
def format_case(stream: InteractiveStream, cases, *, print, **kwargs):
{% endif %}
    ... # write your formatter here
    {% if not minimal %}

    # example:
    print(len(cases))
    for arr in cases:
        print(len(arr))
        print(*arr)
    {% endif %}
