"""Checks whether the input file is valid."""

from sys import *
from kg.validators import * ### @import

bounds = {
    't': 1 <= +Var <= 10**5,
    'n': 1 <= +Var <= 10**5,
    'a': abs(+Var) <= 10**9,
}

{% if subtasks >= 1 %}
subtasks = {
    {% for sub in subtask_list %}
    '{{ sub.id }}': {},
    {% endfor %}
}
{% endif %}

@validator(bounds=bounds{{", subtasks=subtasks" if subtasks >= 1 else ""}})
def validate(stream{{", subtask=None" if subtasks >= 1 else ""}}, *, lim):
    ... # write your validator here

    {% if not minimal %}
    # example:
    [t] = stream.read.int(lim.t).eoln
    for cas in range(t):
        [n] = stream.read.int(lim.n).eoln
        [a] = stream.read.ints(n, lim.a).eoln

    # other possibilities
    # [x, y, z] = stream.read.real(lim.x).space.real(lim.y).space.int(lim.z).eoln
    # [line] = stream.read.line(lim.s).eoln
    # [name] = stream.read.token(lim.name).eoln
    {% endif %}


if __name__ == '__main__':
    {% if subtasks >= 1 %}
    validate_or_detect_subtasks(validate, subtasks, stdin)
    {% else %}
    validate(stdin)
    {% endif %}
