{
    "title": "{{problem_title}}",
    "model_solution": "solution.py",
    "validator": "validator.py",
    "testscript": "testscript",
    "generators": [
        "gen_random.py"
    ],
    "other_programs": [
        "formatter.py"
    ],
    {% if subtasks >= 1 %}"subtask_detector": "!detector_through_validator",
    "valid_subtasks": {{ subtask_list }},
    "subtasks_files": "subtasks.json",
    {% endif %}{% if checker %}"checker": "checker.py",
    {% endif %}
    {% if not minimal %}"comments": [
        "You can place comments here. They will not be processed.",
        "Leave valid_subtasks blank to make a binary problem.",
        "If you need a custom checker, add the field: checker.",
        "There are also a couple of builtin checkers.",
        "For a custom checker template, see:",
        "examples/templates/checker_generic_template.py"
    ],
    {% endif %}"time_limit": {{ time_limit }},
    "version": "{{ version }}"
}
