from sys import *
from kg.generators import * ### @import
from formatter import * ### @import

{% if minimal %}def random_cases(rand, *args):
    ...
{% else %}A = 10**9

@listify
def random_cases(rand, *args):
    T, N = map(int, args[:2])
    for cas in range(T):
        n = rand.randint(1, N)
        yield [rand.randint(-A, A) for i in range(n)]
{% endif %}

if __name__ == '__main__':
    write_to_file(print_to_file, random_cases, argv[1:], stdout)
