{% if not minimal %}**Statement**  

Given an array $A$ of length $n$, find the sum of its elements.  

**Input Format**  

The first line of input contains $t$, the number of test cases. The test cases themselves
are described in the following lines.

The first line of each test case contains a single integer $n$ denoting the length of the
array. The second line contains $n$ space-separated integers $A_1, A_2, \ldots, A_n$
denoting the elements of the array.

**Constraints**  

$1 \le T \le 10^5$  
$1 \le n \le 10^5$  
The sum of the $n$s in a single file is $\le 5\cdot 10^5$  
$-10^9 \le A_i \le 10^9$  
{% if subtasks >= 1 %}
{% for subtask in subtask_list %}**Subtask {{ subtask.id }}** ({{ subtask.score }} points): {% if subtask.id == 1 %}$n \le 10$  
{% elif subtask.id == 2 %}$n \le 1000$  
{% else %}No additional constraints  
{% endif %}{% endfor %}{% endif %}
**Output Format**  

For each test case, output a single line containing a single integer denoting the answer
for that test case.  

**Sample Input**  

    1
    3
    1 -2 3

**Sample Output**  

    2
{% endif %}
