{% if not minimal %}**Statement**  

Given an array, print the sum of its elements.

**Input Format**  

    T
    N
    A1 A2 ... AN
    N
    A1 A2 ... AN
    ...
    N
    A1 A2 ... AN




**Constraints**  

$1 \le T \le 10^5$  
$1 \le N \le 10^5$  
$\sum N \le 5\cdot 10^5$  
$-10**9 \le A_i \le 10^9$  

**Subtask 1**: $N \le 10$  
**Subtask 2**: $N \le 1000$  
**Subtask 3**: No additional constraints  
{% endif %}
