{% if not minimal %}# comments start with hash (#)

# you can run an arbitrary command via "!"
! cat sample.in > $

# otherwise, the program is searched through "generators" in details.json
single_case 10 10 > $
single_case 10 100 > $
single_case 10 1000 > $
single_case 10 10000 > $
{% endif %}
