from sys import *
from kg.validators import * ### @import

{% if subtasks >= 1 %}subtasks = {
{% for sub in subtask_list %}    '{{ sub }}': {},
{% endfor %}}{% endif %}

bounds = {
    't': 1 <= +Var <= 10**5,
    'n': 1 <= +Var <= 10**5,
}

@validator()
def validate_file(file{{", subtask=None" if subtasks >= 1 else ""}}):
    lim = Bounds(bounds){{" & Bounds(subtasks.get(subtask))" if subtasks >= 1 else ""}}

    ... {% if not minimal %}# write your validator here

    # file .read_int(), .read_ints(), .read_space(), .read_eoln(), etc.
    # file.read_eof()
    {% endif %}

if __name__ == '__main__':
{% if subtasks >= 1 %}    subtask = argv[1] if len(argv) > 1 else None
    validate_file(stdin, subtask=subtask)
{% else %}    validate_file(stdin)
{% endif %}
