from sys import *
from kg.validators import * ### @import

{% if subtasks >= 1 %}subtasks = {
{% for sub in subtask_list %}    '{{ sub.id }}': {},
{% endfor %}}{% endif %}

bounds = {
    't': 1 <= +Var <= 10**5,
    'n': 1 <= +Var <= 10**5,
}

@validator(bounds=bounds{{", subtasks=subtasks" if subtasks >= 1 else ""}})
def validate_file(file{{", subtask=None" if subtasks >= 1 else ""}}, *, lim):

    ... {% if not minimal %}# write your validator here

    # file .read_int(), .read_ints(), .read_space(), .read_eoln(), etc.
    # file.read_eof()
    {% endif %}

if __name__ == '__main__':
{% if subtasks >= 1 %}    validate_or_detect_subtasks(validate_file, subtasks, stdin)
{% else %}    validate_file(stdin)
{% endif %}
