<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Login Details {% if code %}for {{ code }}{% endif %} {% if title %}({{ title }}){% endif %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"> <!-- If you have it locally... -->
        <style>
            @media print {
                body {-webkit-print-color-adjust: exact;}
                .table td.success {
                    background-color: #DFF0D7 !important;
                }  
                .table td.active {
                    background-color: #F5F5F5 !important;
                }
            }
            .pass-entry code {
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <h1>LOGIN DETAILS {% if title %}FOR {{ title }}{% endif %}</h1>
            <p><small>Generated with seed {{ seedval }}.</small></p>

            <table class="table table-hover table-bordered">
                <thead><tr><th>University/School</th> <th>Display name</th> <th>Login name</th> <th>Password</th></tr></thead>
                <tbody>
                    {% for account in accounts %}
                        <tr class="pass-entry">
                            <td>{{ account.display_sub }}</td>
                            <td>{{ account.display_name }}</td>
                            <td><code>{{ account.username }}</code></td>
                            <td><code>{{ account.password }}</code></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
